html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

span.custom-margin {
    margin: 2px;
}

@media only screen and (max-width: 600px) {
    span.page-nav {
      font-size: 0;
    }
}

body {
  margin-bottom: 80px;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center; 
}  

code {
  background-color: whitesmoke;
  
}
