---
permalink: /courses/
title: Education
---

<!DOCTYPE html>
<html>
<title>Darren Mascioli</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% include bootstrap.html %}

<link rel="stylesheet" href="/css/style.css">

<body class="w3-dark-grey">
  {% include navbar.html %}

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">
    <div class="w3-container w3-card-3 w3-white w3-text-grey w3-margin">
      <div class="w3-container" id="courses">

        {% for course in site.courses %}
        <div class="w3-quarter">
          <div class="w3-margin w3-card-4 course-card w3-display-container">
            
            <header class="w3-container w3-light-grey ">
              <h4 class="w3-margin-top course-header">{{course.title}}</h4>
            </header>

            <div class="w3-container w3-margin-top">
              <p>{{course.semester}}</p>
              <hr>
              <p>{{course.description}}</p>
            </div>

            <a href="{{course.url}}"><button class="w3-button w3-block w3-dark-grey w3-display-bottommiddle">View Details</button></a>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
  </div>

  {% include footer.html %}

</body>

</html>