---
permalink: /
---

<!DOCTYPE html>
<html>


{% include head.html %}

<body class="w3-dark-grey">
    {% include navbar.html %}

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
        <!-- The Grid -->
        <div class="w3-row-padding">
            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card w3-margin-bottom">
                    <div class="w3-display-container">
                        <img src="/assets/profile.jpg" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-white">

                        </div>
                    </div>
                    <div class="w3-container">
                        <br>
                        <h2 class="w3-text-black"><b>Darren Mascioli</b></h2>
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>
                            Embedded Software Engineer
                        </p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>Pittsburgh, PA</p>
                        <p><i
                                class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>darren.mascioli@pitt.edu
                        </p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>908-456-2123</p>
                        <hr>

                        <p class="w3-large"><b><i
                                    class="fa fa-code fa-fw w3-margin-right w3-text-blue-grey"></i>Languages</b></p>
                        {% include tags/home/languages.html %}
                        <br>
                        <hr>

                        <p class="w3-large w3-text-theme"><b><i
                                    class="fa fa-wrench fa-fw w3-margin-right w3-text-blue-grey"></i>Tools and
                                Technologies</b></p>
                        {% include tags/home/tools.html %}
                        <br>
                        <hr>

                        <p class="w3-large w3-text-theme"><b><i
                                    class="fa fa-laptop fa-fw w3-margin-right w3-text-blue-grey"></i>Operating Systems
                                and Communications</b></p>
                        {% include tags/home/os_comm.html %}
                        <br>
                        <hr>

                        <p class="w3-large w3-text-theme"><b><i
                                    class="fa fa-microchip fa-fw w3-margin-right w3-text-blue-grey"></i>Hardware
                                Skills</b></p>
                        {% include tags/home/hw.html %}
                        <br>

                        <br>
                    </div>

                </div>
                <div class="w3-container w3-card-3 w3-white w3-text-grey w3-margin-bottom">
                    <br>
                    <p class="w3-large w3-text-theme"><b><i
                                class="fa fa-trophy fa-fw w3-margin-right w3-text-blue-grey"></i>Acheivements and
                            Leadership</b></p>
                    <h6><b>Engineering Student Council</b></h6>
                    <p><em>Conference Director</em>
                    <ul>
                        <li>Coordinated <a href="https://naesc.org" target="_blank">NAESC</a> Engineering Leadership
                            Summit hosted by Pitt's Engineering Student Council in March 2020.</li>
                        <li>See project section for more details</li>
                    </ul>
                    </p>
                    <p><em>Vice President</em>
                    <ul>
                        <li>Work with other officers to promote academic, professional, and social development within
                            Pitt Engineering.</li>
                        <li>Attend regional and national conferences to develop and expand leadership and communication
                            skills.</li>

                    </ul>
                    </p>

                    <hr>

                    <h6><b>Tau Beta Pi Professional Engineering Society</b></h6>
                    <p><em>Inducted Member, Vice President PA Lambda</em></p>

                    <hr>

                    <h6><b>Swanson School of Engineering Dean's List</b></h6>
                    <p><em>Fall 2017, Spring 2018, Fall 2018, Spring 2019, Summer 2019, Spring 2020</em></p>


                    <br>
                </div>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue-grey"></i>Work
                        Experience
                    </h2>

                    <div class="w3-container w3-text-grey accordian">
                        <h4 class="w3-text-grey"><b>Embedded Software Engineering Co-Op</b></h4>

                        <h5 class="w3-text-grey"><em>Bridge Fusion Systems</em></h5>
                        <h6 class="w3-text-blue-grey"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Plum, PA
                        </h6>
                        <i class="w3-button w3-round w3-light-grey w3-right fa fa-angle-down w3-hover-opacity"
                            data-toggle="collapse" data-target="#intern_projects"></i>

                        <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2018 -
                            July 2020
                            <!-- <span class="w3-tag w3-blue-grey w3-round">Current</span> -->
                        </h6>
                        <div class="overview">
                            <ul>
                                <li>Added ethernet connectivity to track switch platform.</li>
                                <li>Introduced and developed new data storage platform with SQL Server for
                                    manufacturing production database.</li>
                                <li>Added new firmware feature to power dissipation devices to automatically prevent
                                    generator wet stacking.</li>
                                <li>Implemented firmware features for streetcar track switch equipment including adding
                                    support for new SPI flash memory component. </li>
                                <li>Created additional software feature to update firmware version of multiple IoT
                                    devices at one.</li>
                                <li>Expanded functionality of and created multiple WPF GUI applications. </li>
                                <li>Performed product demonstrations to clients to ensure correct implementation of
                                    requirements.</li>
                                <li>Developed internal database tools to log production data for manufacturing process.
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="intern_projects">
                            <p>
                            <h6><b>Mosebach Manufacturing Company</b></h6>
                            <ul>
                                <li>Added new firmware feature to power dissipation devices to automatically prevent
                                    generator wet stacking.</li>
                                <span class="w3-tag w3-light-grey w3-round">C</span>
                                <span class="w3-tag w3-light-grey w3-round">ARM - NXP</span>
                                <li>Updated WPF desktop application to support additional configuration parameters
                                </li>
                                <span class="w3-tag w3-light-grey w3-round">C#</span>
                            </ul>
                            <h6><b>Toronto Transit Commission / SSES Rail</b></h6>
                            <ul>
                                <li>Added ethernet connectivity to track switch platform.</li>
                                <span class="w3-tag w3-light-grey w3-round">C</span>
                                <span class="w3-tag w3-light-grey w3-round">ARM - STM32</span>
                                <li>Introduced and developed new data storage platform with SQL Server for
                                    manufacturing production database.</li>
                                <span class="w3-tag w3-light-grey w3-round">SQL</span>
                                <span class="w3-tag w3-light-grey w3-round">Python</span>
                                <li>Implemented firmware features for streetcar track switch equipment including
                                    adding support for new SPI flash memory component.</li>
                                <span class="w3-tag w3-light-grey w3-round">C</span>
                                <span class="w3-tag w3-light-grey w3-round">ARM - STM32</span>
                                <li>Developed desktop GUI application to monitor track switch state.</li>
                                <span class="w3-tag w3-light-grey w3-round">C#</span>
                            </ul>
                            <h6><b>BOSS Controls</b></h6>
                            <ul>
                                <li>Provided support for smart plug devices by adding firmware features and
                                    debugging.</li>
                                <span class="w3-tag w3-light-grey w3-round">C</span>
                                <span class="w3-tag w3-light-grey w3-round">ARM</span>
                                <li>Added critical features to software application to update multiple IoT devices
                                    at once.</li>
                                <span class="w3-tag w3-light-grey w3-round">C#</span>
                            </ul>
                            <h6><b>Score-Clocks Sports Technologies</b></h6>
                            <ul>
                                <li>Developed software tool to interface web application with hardware display and
                                    provided extensive application support.</li>
                                <span class="w3-tag w3-light-grey w3-round">C#</span>
                                <span class="w3-tag w3-light-grey w3-round">JavaScript</span>
                            </ul>
                            </p>
                        </div>

                    </div>
                    <!-- <hr> -->
                    <!--<div class="w3-container w3-text-grey">
                        <h4 class="w3-text-grey"><b>Warehouse Worker</b></h5>
                            <h5 class="w3-text-grey"><em>Dunphey and Associates Supply Co.</em></h5>
                            <h6 class="w3-text-blue-grey"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Edison,
                                NJ</h6>
                            <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2015 -
                                Aug 2017</h6>
                            <p class="w3-text-grey">
                            <ul>
                                <li>Trained 2 new employees in daily responsibilities</li>
                                <li>Ensured on-time deliveries of materials through team coordination.</li>
                            </ul>
                            </p>

                    </div>-->

                    <br>

                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-gears fa-fw w3-margin-right w3-xxlarge w3-text-blue-grey"></i>Projects
                    </h2>
                    <div class="w3-container w3-text-grey">
                        <h4 class="w3-text-grey">
                            <a href="https://github.com/dmascioli/BikerBlinker" target="_blank"
                                class="project-link"><b>BikerBlinker</b>
                                <i class="fa fa-external-link fa-fw w3-margin-right"></i></a></h4>
                        <h5 class="w3-text-grey"><em>Capstone Design Project</em></h5>
                        <h6 class="w3-text-blue-grey">
                            <i class="fa fa-calendar fa-fw w3-margin-right"></i>Fall 2020</h6>
                        <p class="w3-text-grey">
                        <ul>
                            <li>Ongoing capstone project to develop voice-activated turn signals for bicycles.</li>
                            <li>Responsible for embedded firmware and wireless communication on ESP-32.</li>


                        </ul>
                        <span class="w3-tag w3-light-grey w3-round">C++</span>
                        <span class="w3-tag w3-light-grey w3-round">BLE</span>
                        <span class="w3-tag w3-light-grey w3-round">Espressif</span>
                    </div>

                    <hr>

                    <div class="w3-container w3-text-grey">
                        <h4 class="w3-text-grey"><b>NAESC Engineering Leadership Summit</b></h5>
                            <h5 class="w3-text-grey"><em>Conference Director</em></h5>
                            <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March
                                27-28, 2020</h6>
                            <p class="w3-text-grey">
                            <ul>
                                <li>Coordinated and directed two-day national conference for almost 300 attendees.</li>
                                <li>Managed a budget of approximately $80,000.</li>
                                <li>Communicated purpose of conference and national organization to corporate and
                                    academic partners to obtain $10,000 worth of sponsorship deals.</li>
                                <li>Collaborated efficiently with national representatives to provide updates and
                                    progress.</li>
                                <li>Facilitated virtual conference activities after cancellation of event due to
                                    COVID-19</li>
                            </ul>
                            <span class="w3-tag w3-light-grey w3-round custom-margin">Communication</span>
                            <span class="w3-tag w3-light-grey w3-round custom-margin">Organization</span>
                            <span class="w3-tag w3-light-grey w3-round custom-margin">Teamwork</span>
                            <span class="w3-tag w3-light-grey w3-round custom-margin">Leadership</span>
                            <span class="w3-tag w3-light-grey w3-round custom-margin">Problem Solving</span>
                            <span class="w3-tag w3-light-grey w3-round custom-margin">Corporate Relations</span>
                            <span class="w3-tag w3-light-grey w3-round custom-margin">Collaboration</span>
                            </p>

                            <hr>

                            <h4 class="w3-text-grey"><b>Hoteller</b></h5>
                                <h5 class="w3-text-grey"><em>Python Flask Application</em></h5>
                                <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Spring
                                    2020</h6>
                                <p class="w3-text-grey">
                                <ul>
                                    <li>Semester-long group project for COE1530 at the University of Pittsburgh.</li>
                                    <li>Designed system using UML diagrams and created extensive planning documentation.
                                    </li>
                                    <li>Acted as Scrum Leader by managing product and sprint backlogs.</li>
                                </ul>
                                <span class="w3-tag w3-light-grey w3-round custom-margin">Python</span>
                                <span class="w3-tag w3-light-grey w3-round custom-margin">Flask</span>
                                <span class="w3-tag w3-light-grey w3-round custom-margin">Databases</span>
                                <span class="w3-tag w3-light-grey w3-round custom-margin">Leadership</span>
                                <span class="w3-tag w3-light-grey w3-round custom-margin">Software Engineering</span>
                                </p>

                    </div>

                </div>

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-blue-grey"></i>Education
                    </h2>
                    <div class="w3-container ">
                        <h4 class="w3-opacity"><b>University of Pittsburgh</b></h5>
                            <h5 class="w3-opacity"><em>B.S. in Computer Engineering</em></h5>
                            <h6 class="w3-text-blue-grey"><i
                                    class="fa fa-map-marker fa-fw w3-margin-right"></i>Pittsburgh, PA</h6>
                            <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2016 -
                                Dec 2020</h6>
                            <b class="w3-text-grey">GPA: </b>3.80 <br>
                            <i class="w3-button w3-round w3-light-grey w3-right fa fa-angle-down w3-hover-opacity"
                                data-toggle="collapse" data-target="#courses"></i>
                            <div class="accordian">
                                <b class="w3-text-grey">Coursework:</b><br>

                                <div class="collapse" id="courses">
                                    {% include tags/home/courses.html %}
                                </div>
                            </div>
                    </div>


                    <hr>

                    <div class="w3-container">
                        <h4 class="w3-opacity"><b>Scotch Plains-Fanwood High School</b></h5>
                            <h6 class="w3-text-blue-grey"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Scotch
                                Plains, NJ</h6>
                            <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2016
                            </h6>
                            <p class="w3-text-grey">High School Diploma</p>

                    </div>
                </div>
                <br>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
    </div>

    {% include footer.html %}

</body>

{% seo %}

</html>