---

---


<!DOCTYPE html>
<html>
<title>Darren Mascioli</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css">

<body class="w3-dark-grey">
    {% include navbar.html %}

    <!-- Page Container -->
    <div id="blog_container" class="w3-content w3-margin-top" style="max-width:1400px;">

        <div class="w3-container">

            {% for post in site.categories.posts %}
            <a href="{{post.url}}" class="post-links">
                <div class="w3-white w3-block w3-button w3-margin w3-card-4">
                    <div class="w3-left-align">
                        <time
                            datetime="{{ post.date | date: "%m-%d-%Y" }}">{{ post.date | date_to_string: "ordinal", "US" }}</time>
                        <h1>{{post.title}}</h1>
                    </div>

                </div>
            </a>
            {% endfor %}

        </div>

        <!--
    	<div class="w3-row-padding w3-margin-bottom">
            <div class="w3-white w3-card">
                <div id="test1" class=w3-container>
                    
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-white w3-card">
                <div id="test2" class=w3-container>
                    
                </div>
            </div>
        </div>
        -->

    </div>

    {% include footer.html %}

</body>

</html>