---

---
<!DOCTYPE html>
<html>
{% include head.html %}

<body class="w3-dark-grey">
    {% include navbar.html %}

    <!-- Page Container -->
    <div id="blog_container" class="w3-content w3-margin-top" style="max-width:1400px;">

        <div class="w3-container">

            {% for post in site.categories.posts %}
            <a href="{{post.url}}" class="post-links">
                <div class="w3-white w3-block w3-button w3-margin w3-card-4">
                    <div class="w3-left-align">
                        <time
                            datetime="{{ post.date | date: "%m-%d-%Y" }}">{{ post.date | date_to_string: "ordinal", "US" }}</time>
                        <h1>{{post.title}}</h1>
                    </div>

                </div>
            </a>
            {% endfor %}

        </div>

        <!--
    	<div class="w3-row-padding w3-margin-bottom">
            <div class="w3-white w3-card">
                <div id="test1" class=w3-container>
                    
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-white w3-card">
                <div id="test2" class=w3-container>
                    
                </div>
            </div>
        </div>
        -->

    </div>

    {% include footer.html %}

</body>

</html>