<span class="w3-tag w3-light-grey w3-round custom-margin">C</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">C++</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Python</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">C#</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Java</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">JavaScript</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">HTML</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">CSS</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">VHDL</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">MIPS Assembly</span>