<span class="w3-tag w3-light-grey w3-round custom-margin">Windows 10</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Windows 7</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Ubuntu</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Debian</span>
<span class="w3-tag w3-light-grey w3-round custom-margin"
  >Embedded Round Robin</span
>
<span class="w3-tag w3-light-grey w3-round custom-margin">RTOS</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">ThreadX</span>

<span class="w3-tag w3-light-grey w3-round custom-margin">I2C</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">SPI</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">1-Wire</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Modbus</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">UART</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">BLE</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Ethernet</span>
