<span class="w3-tag w3-light-grey w3-round custom-margin">Visual Studio</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Eclipse</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Git</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">SVN</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Jira</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">OpenOCD</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">JUnit</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Selenium</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">HDL Designer</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Modelsim</span>