<p>Green indicates in progress</p>
<span class="w3-tag w3-light-green w3-round custom-margin">Senior Design</span>
<span class="w3-tag w3-light-green w3-round custom-margin">Computer Networks</span>
<span class="w3-tag w3-light-green w3-round custom-margin">Practical AI</span>
<span class="w3-tag w3-light-green w3-round custom-margin">Structure of Programming Languages</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Database Management Systems</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Embedded Processors and Interfacing</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Software Engineering</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Intro to Data Science</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Algorithm Implementation</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Operating Systems</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Software Quality Assurance</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Advanced Digital Design</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Computer Architecture</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Data Structures</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Web Applications</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Digital Logic</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Computer Organization</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Systems Software</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Electronic Circuits and Systems</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Digital Systems Lab</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Written Professional Communications</span>