<span class="w3-tag w3-light-grey w3-round custom-margin">THT Soldering</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">SMD Soldering</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Digital Multimeter</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Oscilloscope</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Logic Analyzers</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">PCB Schematic Design</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">PCB Layout</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">CAD for 3D Printing</span>
