<span class="w3-tag w3-light-grey w3-round custom-margin">Visual Studio</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Eclipse</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Git</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">SVN</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Jira</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">CI/CD</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Kubernetes</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Helm</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Docker</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">OpenOCD</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">JUnit</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Selenium</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">VMware</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">VirtualBox</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">FreeCAD</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">3D Printing</span>
<span class="w3-tag w3-light-grey w3-round custom-margin">Yocto</span>
