<!DOCTYPE html>
<html>
<title>Darren Mascioli</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css">
    
    <body class="w3-dark-grey">
        <!-- Nav Bar -->
        <div class="w3-bar w3-light-grey">
            <a href="index.html" class="w3-bar-item w3-button w3-blue-grey"><i class="fa fa-home"></i></a>
            <a href="projects.html" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-book"></i><span class="page-nav"> Projects</span></a>
            <a href="education.html" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-graduation-cap"></i><span class="page-nav"> Education</span></a>
            <a href="posts.html" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-pencil"></i><span class="page-nav"> Posts</span></a>
    
            <a href="https://www.instagram.com/dmas97/" target="_blank" class="w3-bar-item w3-button w3-light-grey w3-right"><i class="fa fa-instagram w3-hover-opacity"></i></a>
            <a href="https://www.github.com/dmascioli" target="_blank" class="w3-bar-item w3-button w3-light-grey w3-right"><i class="fa fa-github w3-hover-opacity"></i></a>
            <a href="https://www.linkedin.com/in/darrenmascioli" target="_blank" class="w3-bar-item w3-button w3-light-grey w3-right"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        </div>

    {{ content }}

    {% include footer.html %}

</body>

</html>