<div class="w3-container w3-card-3 w3-white w3-text-grey w3-margin-bottom">
    <br>
    <p class="w3-large w3-text-theme"><b><i
                class="fa fa-trophy fa-fw w3-margin-right w3-text-blue-grey"></i>Acheivements and
            Leadership</b></p>
    <h6><b>Engineering Student Council</b></h6>
    <p><em>Conference Director</em>
    <ul>
        <li>Coordinated <a href="https://naesc.org" target="_blank">NAESC</a> Engineering Leadership
            Summit hosted by Pitt's Engineering Student Council in March 2020.</li>
        <li>See project section for more details</li>
    </ul>
    </p>
    <p><em>Vice President</em>
    <ul>
        <li>Work with other officers to promote academic, professional, and social development within
            Pitt Engineering.</li>
        <li>Attend regional and national conferences to develop and expand leadership and communication
            skills.</li>

    </ul>
    </p>

    <hr>

    <h6><b>Tau Beta Pi Professional Engineering Society</b></h6>
    <p><em>Inducted Member, Vice President PA Lambda</em></p>

    <hr>

    <h6><b>Swanson School of Engineering Dean's List</b></h6>
    <p><em>Fall 2017, Spring 2018, Fall 2018, Spring 2019, Summer 2019, Spring 2020, Fall 2020</em></p>


    <br>
</div>