<div class="w3-white w3-text-grey w3-card w3-margin-bottom">
  <div class="w3-display-container">
    <!--<img src="/assets/profile.jpg" style="width: 100%" alt="profile-pic" />-->
    <img src="/assets/profile4.jpg" style="width: 100%" alt="profile-pic" />
    <div class="w3-display-bottomleft w3-container w3-text-white"></div>
  </div>
  <div class="w3-container">
    <br />
    <h2 class="w3-text-black"><b>Darren Mascioli</b></h2>
    <p>
      <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>Software Engineer @ Siemens
    </p>
    <p>
      <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>Pittsburgh, PA
    </p>
    <p>
      <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>darren.mascioli@pitt.edu
    </p>
    <p>
      <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>908-456-2123
    </p>

    <p>
      <i class="fa fa-group fa-fw w3-margin-right w3-large w3-text-blue-grey"></i>
      he/him/his
    </p>
    <hr />

    <p class="w3-large">
      <b><i class="fa fa-code fa-fw w3-margin-right w3-text-blue-grey"></i>Languages</b>
    </p>
    {% include home/tags/languages.html %}
    <br />
    <hr />

    <p class="w3-large w3-text-theme">
      <b><i class="fa fa-wrench fa-fw w3-margin-right w3-text-blue-grey"></i>Tools and Technologies</b>
    </p>
    {% include home/tags/tools.html %}
    <br />
    <hr />

    <p class="w3-large w3-text-theme">
      <b><i class="fa fa-laptop fa-fw w3-margin-right w3-text-blue-grey"></i>Operating Systems and Communications</b>
    </p>
    {% include home/tags/os_comm.html %}
    <br />
    <hr />

    <p class="w3-large w3-text-theme">
      <b><i class="fa fa-microchip fa-fw w3-margin-right w3-text-blue-grey"></i>Hardware Skills</b>
    </p>
    {% include home/tags/hw.html %}
    <br />

    <br />
  </div>
</div>
