<div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i
            class="fa fa-gears fa-fw w3-margin-right w3-xxlarge w3-text-blue-grey"></i>Projects
    </h2>
    <div class="w3-container w3-text-grey">
        <h4 class="w3-text-grey">
            <a href="https://github.com/dmascioli/BikerBlinker" target="_blank" class="project-link"><b>BikerBlinker</b>
                <i class="fa fa-external-link fa-fw w3-margin-right"></i></a></h4>
        <h5 class="w3-text-grey"><em>Capstone Design Project</em></h5>
        <h6 class="w3-text-blue-grey">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>Fall 2020</h6>
        <p class="w3-text-grey">
        <ul>
            <li>Ongoing capstone project to develop voice-activated turn signals for bicycles.</li>
            <li>Responsible for embedded firmware and wireless communication on ESP-32.</li>


        </ul>
        <span class="w3-tag w3-light-grey w3-round">C++</span>
        <span class="w3-tag w3-light-grey w3-round">BLE</span>
        <span class="w3-tag w3-light-grey w3-round">Espressif</span>
    </div>

    <hr>

    <div class="w3-container w3-text-grey">
        <h4 class="w3-text-grey"><b>NAESC Engineering Leadership Summit</b></h5>
            <h5 class="w3-text-grey"><em>Conference Director</em></h5>
            <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March
                27-28, 2020</h6>
            <p class="w3-text-grey">
            <ul>
                <li>Coordinated and directed two-day national conference for almost 300 attendees.</li>
                <li>Managed a budget of approximately $80,000.</li>
                <li>Communicated purpose of conference and national organization to corporate and
                    academic partners to obtain $10,000 worth of sponsorship deals.</li>
                <li>Collaborated efficiently with national representatives to provide updates and
                    progress.</li>
                <li>Facilitated virtual conference activities after cancellation of event due to
                    COVID-19</li>
            </ul>
            <span class="w3-tag w3-light-grey w3-round custom-margin">Communication</span>
            <span class="w3-tag w3-light-grey w3-round custom-margin">Organization</span>
            <span class="w3-tag w3-light-grey w3-round custom-margin">Teamwork</span>
            <span class="w3-tag w3-light-grey w3-round custom-margin">Leadership</span>
            <span class="w3-tag w3-light-grey w3-round custom-margin">Problem Solving</span>
            <span class="w3-tag w3-light-grey w3-round custom-margin">Corporate Relations</span>
            <span class="w3-tag w3-light-grey w3-round custom-margin">Collaboration</span>
            </p>

            <hr>

            <h4 class="w3-text-grey"><b>Hoteller</b></h5>
                <h5 class="w3-text-grey"><em>Python Flask Application</em></h5>
                <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Spring
                    2020</h6>
                <p class="w3-text-grey">
                <ul>
                    <li>Semester-long group project for COE1530 at the University of Pittsburgh.</li>
                    <li>Designed system using UML diagrams and created extensive planning documentation.
                    </li>
                    <li>Acted as Scrum Leader by managing product and sprint backlogs.</li>
                </ul>
                <span class="w3-tag w3-light-grey w3-round custom-margin">Python</span>
                <span class="w3-tag w3-light-grey w3-round custom-margin">Flask</span>
                <span class="w3-tag w3-light-grey w3-round custom-margin">Databases</span>
                <span class="w3-tag w3-light-grey w3-round custom-margin">Leadership</span>
                <span class="w3-tag w3-light-grey w3-round custom-margin">Software Engineering</span>
                </p>

    </div>

</div>