<div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
        <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue-grey"></i>
        Work Experience
    </h2>

    <div class="w3-container w3-text-grey accordian">
        <h4 class="w3-text-grey"><b>Engineering Development Program</b></h4>

        <h5 class="w3-text-grey"><em>Siemens Mobility</em></h5>
        <h6 class="w3-text-blue-grey">
            <i class="fas fa-map-marker-alt fa-fw w3-margin-right"></i>
            Pittsburgh, PA | Louisville, KY | New York City, NY
        </h6>

        <h6 class="w3-text-blue-grey">
            <i class="fas fa-calendar-alt fa-fw w3-margin-right"></i>
            January 2021 -
            <span class="w3-tag w3-blue-grey w3-round">Present</span>
        </h6>
        <div class="overview">
            <ul>

            </ul>
        </div>
    </div>

    <hr>

    <div class="w3-container w3-text-grey accordian">
        <h4 class="w3-text-grey"><b>Embedded Software Engineering Co-Op</b></h4>

        <h5 class="w3-text-grey"><em>Bridge Fusion Systems</em></h5>
        <h6 class="w3-text-blue-grey">
            <i class="fas fa-map-marker-alt fa-fw w3-margin-right"></i>
            Plum, PA
        </h6>
        <i class="w3-button w3-round w3-light-grey w3-right fa fa-angle-down w3-hover-opacity" data-toggle="collapse"
            data-target="#intern_projects"></i>

        <h6 class="w3-text-blue-grey">
            <i class="fas fa-calendar-alt fa-fw w3-margin-right"></i>
            May 2018 - July 2020
            <!-- <span class="w3-tag w3-blue-grey w3-round">Current</span> -->
        </h6>
        <div class="overview">
            <ul>
                <li>Added ethernet connectivity to track switch platform.</li>
                <li>Introduced and developed new data storage platform with SQL Server for
                    manufacturing production database.</li>
                <li>Added new firmware feature to power dissipation devices to automatically prevent
                    generator wet stacking.</li>
                <li>Implemented firmware features for streetcar track switch equipment including adding
                    support for new SPI flash memory component. </li>
                <li>Created additional software feature to update firmware version of multiple IoT
                    devices at one.</li>
                <li>Expanded functionality of and created multiple WPF GUI applications. </li>
                <li>Performed product demonstrations to clients to ensure correct implementation of
                    requirements.</li>
            </ul>
        </div>
        <div class="collapse" id="intern_projects">
            <p>
            <h6><b>Mosebach Manufacturing Company</b></h6>
            <ul>
                <li>Added new firmware feature to power dissipation devices to automatically prevent
                    generator wet stacking.</li>
                <span class="w3-tag w3-light-grey w3-round">C</span>
                <span class="w3-tag w3-light-grey w3-round">ARM - NXP</span>
                <li>Updated WPF desktop application to support additional configuration parameters
                </li>
                <span class="w3-tag w3-light-grey w3-round">C#</span>
            </ul>
            <h6><b>Toronto Transit Commission / SSES Rail</b></h6>
            <ul>
                <li>Added ethernet connectivity to track switch platform.</li>
                <span class="w3-tag w3-light-grey w3-round">C</span>
                <span class="w3-tag w3-light-grey w3-round">ARM - STM32</span>
                <li>Introduced and developed new data storage platform with SQL Server for
                    manufacturing production database.</li>
                <span class="w3-tag w3-light-grey w3-round">SQL</span>
                <span class="w3-tag w3-light-grey w3-round">Python</span>
                <li>Implemented firmware features for streetcar track switch equipment including
                    adding support for new SPI flash memory component.</li>
                <span class="w3-tag w3-light-grey w3-round">C</span>
                <span class="w3-tag w3-light-grey w3-round">ARM - STM32</span>
                <li>Developed desktop GUI application to monitor track switch state.</li>
                <span class="w3-tag w3-light-grey w3-round">C#</span>
            </ul>
            <h6><b>BOSS Controls</b></h6>
            <ul>
                <li>Provided support for smart plug devices by adding firmware features and
                    debugging.</li>
                <span class="w3-tag w3-light-grey w3-round">C</span>
                <span class="w3-tag w3-light-grey w3-round">ARM</span>
                <li>Added critical features to software application to update multiple IoT devices
                    at once.</li>
                <span class="w3-tag w3-light-grey w3-round">C#</span>
            </ul>
            <h6><b>Score-Clocks Sports Technologies</b></h6>
            <ul>
                <li>Developed software tool to interface web application with hardware display and
                    provided extensive application support.</li>
                <span class="w3-tag w3-light-grey w3-round">C#</span>
                <span class="w3-tag w3-light-grey w3-round">JavaScript</span>
            </ul>
            </p>
        </div>

    </div>
    <!-- <hr> -->
    <!--<div class="w3-container w3-text-grey">
        <h4 class="w3-text-grey"><b>Warehouse Worker</b></h5>
            <h5 class="w3-text-grey"><em>Dunphey and Associates Supply Co.</em></h5>
            <h6 class="w3-text-blue-grey"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Edison,
                NJ</h6>
            <h6 class="w3-text-blue-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2015 -
                Aug 2017</h6>
            <p class="w3-text-grey">
            <ul>
                <li>Trained 2 new employees in daily responsibilities</li>
                <li>Ensured on-time deliveries of materials through team coordination.</li>
            </ul>
            </p>

    </div>-->

    <br>

</div>
